<h3> RXJS</h3>

<div fxFill fxLayout="column" fxLayoutAlign="center start">
<button mat-button color="primary" (click)="observableCreate()"> create / observable</button>
<button mat-button color="primary" (click)="fromclick()"> fromClick</button>
<button mat-button color="primary" (click)="ofClick()"> ofClick</button>
<button mat-button color="primary" (click)="intervarClick()"> intervarClick</button>
<button mat-button color="primary" (click)="timerClick()"> timerClick</button>
<button mat-button color="primary" (click)="unsubscribleClick()"> unsubscrible</button>
<button mat-button color="primary" (click)="fromEventClick()"> fromEvent</button>
</div>